.stick-note {
    -webkit-box-shadow: 13px 8px 20px -7px rgba(0,0,0,0.34);
    -moz-box-shadow: 13px 8px 20px -7px rgba(0,0,0,0.34);
    box-shadow: 13px 8px 20px -7px rgba(0,0,0,0.34);
}

.quote-container {
    position: relative;
  }
  
  .note {
    color: #333;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 20px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  }
  
  .note .author {
    display: block;
    margin: 40px 0 0 0;
    text-align: right;
  }
/*You can now add a separate class for the color and the rotation. ie: yellow.*/
  .yellow {
    background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }

  /*create the small metal part of the pin.*/
  .pin {
    background-color: #aaa;
    display: block;
    height: 32px;
    width: 2px;
    position: absolute;
    left: 50%;
    top: -16px;
    z-index: 1;
  }

  /*Next, using CSS3 gradients and box-shadow, we will make the ball top of the pin and it’s shadow.*/
  .pin:after {
    background-color: #A31;
    background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
                inset 3px 3px 3px hsla(0,0%,100%,.2),
                inset -3px -3px 3px hsla(0,0%,0%,.2),
                23px 20px 3px hsla(0,0%,0%,.15);
    content: '';
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
  }

  /*And finally we create and rotate the shadow of the metal part of the pin.*/
  .pin:before {
    background-color: hsla(0,0%,0%,0.1);
    box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
    content: '';
  
    height: 24px;
    width: 2px;
    left: 0;
    position: absolute;
    top: 8px;
  
    transform: rotate(57.5deg);
    -moz-transform: rotate(57.5deg);
    -webkit-transform: rotate(57.5deg);
    -o-transform: rotate(57.5deg);
    -ms-transform: rotate(57.5deg);
  
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
  }

  cite{
    font-size: 0.8rem;
    font-weight: bold;
  }